

{{!-- individual post page --}}


    <article>

      <h1>{{post.title}}</h1>
      <h4>Created at: {{ format_date post.createdAt}}</h4>
      <h4>By: {{ post.user.email }}</h4>
      <p>{{post.content}}</p>


    </article>


    <h1>Comments</h1>
    <section>

      {{!-- comments --}}


    {{#each post.comments as |comment|}}
      <article>

        <h4>Created at: {{ format_date comment.createdAt}}</h4>
        <h4>By: {{ comment.user.email }}</h4>
        <p>{{comment.body}}</p>


      </article>
    {{/each}}


    </section>